= semantic_form_for @print_job, url: print_job_path(format: 'pdf'),
	html: { target: '_blank' } do |f|
	= f.semantic_errors
	= f.inputs do
		= f.input :students
		= f.input :template
	= f.actions do
		= f.action :submit