<% intervention ||= @intervention %>
<a>
  <span class="spacer"></span>
  <span><%= intervention.name %></span>
  <span><%= intervention.start.try :strftime, '%b %e, %Y' %></span>
  <span><%= intervention.stop.try :strftime, '%b %e, %Y' %></span>
  <span><%= intervention.notes %></span>
  <span class="destroy_intervention_link" data-id="<%= intervention.id %>">
    Delete
  </span>
  <span class="spacer"></span>
</a>