<div class="interventions">
  <h2>Interventions</h2>
  <%= form_for @student, class: 'special_handler' do |f| %>
    <div class="table">
      <div>
        <span>Name</span>
        <span>Start</span>
        <span>Stop</span>
        <span>Notes</span>
      </div>
      <% sort_interventions(@student.interventions).each do |intervention| %>
        <%= f.fields_for :interventions, intervention do |i| %>
          <a class="intervention">
            <span class="name">
              <%= i.text_area :name %>
              <em class="holder"><%= convert_newlines_to_breaks(intervention.name) %></em>
            </span>
            <span class="start">
              <%= i.text_area :start %>
              <em class="holder"><%= convert_newlines_to_breaks(intervention.start) %></em>
            </span>
            <span class="stop">
              <%= i.text_area :stop %>
              <em class="holder"><%= convert_newlines_to_breaks(intervention.stop) %></em>
            </span>
            <span class="notes">
              <%= i.text_area :notes %>
              <em class="holder"><%= convert_newlines_to_breaks(intervention.notes) %></em>
            </span>
          </a>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>