<div class="table tests">
  <% group_tests(@student.test_scores).each do |(test_name, scores)| %>
    <div>
      <span><%= test_name %></span>
      <% scores.keys.each do |key| %>
        <span class="small">
          <%= key.html_safe %>
        </span>
      <% end %>
    </div>
    <a>
      <span></span>
      <% scores.each_value do |value| %>
        <% if level = value[:level] %>
          <span class="<%= level %> small">
            <%= value[:score] || none %><br />
            <em><%= level.titleize %></em>
          </span>
        <% else %>
          <span><%= value[:score].titleize || none %></span>
        <% end %>
      <% end %>
    </a>
  <% end %>
</div>