<% group_tests(@student.test_scores).each do |test_name, scores| %>
  <div class="table">
    <div>
      <span class="spacer"></span>
      <span>Test</span>
      <% scores.keys.each do |key| %>
        <span class="small"><%= key %></span>
      <% end %>
      <span class="spacer"></span>
    </div>
    <a>
      <span class="spacer"></span>
      <span><%= test_name %></span>
      <% scores.each_value do |value| %>
        <% if level = value[:level] %>
          <span class="<%= level %> small">
            <i>
              <%= value[:score] || none %><br />
              <em><%= level.titleize %></em>
            </i>
          </span>
        <% else %>
          <span><%= value[:score] || none %></span>
        <% end %>
      <% end %>
      <span class="spacer"></span>
    </a>
  </div>
<% end %>