<div class="title">
  <h2><%= term_filter %></h2>
  <h1>Students</h1>
  <%= link_for :new, new_resource %>
  <%= link_for :import, controller_model %>
  <%= link_for :search, controller_model %>
  <%= link_for :back, controller_model %>
</div>
  
<div class="scroller">
  <div class="table" data-limit="<%= offset_amount %>" data-offset="<%= params[:offset].to_i + offset_amount %>">
    <div>
      <span class="spacer"></span>
      <span title="Add all to export list" class="export_all_button">All</span>
      <span class="image"></span>
      <% fields(:index).each do |field| %>
        <span<%= order_by_for(field) %>><%= header_content(field) %></span>
      <% end %>
      <span class="spacer"></span>
    </div>
    <% collection.each do |row| %>
      <a href="<%= "#{request.path}/#{row.id}" %>" data-id="<%= row.id %>">
        <span class="spacer"></span>
        <span title="Add to export list" class="export_list_button <%= student_select_class(row.id) %>"></span>
        <span class="image">
          <%= image_tag(row.image(:index), width: 28, height: 35) if row.image? %>
        </span>
        <% fields(:index).each do |field| %>
          <span><%= cell_content(row, field) %></span>
        <% end %>
        <span class="spacer"></span>
      </a>
    <% end %>
  </div>
</div>