<div class="title">
  <h2>New</h2>
  <h1>Intervention</h1>
  <%= link_for :cancel, @intervention %>
  <%= link_for :create, @intervention %>
</div>

<div class="scroller">
  <%= semantic_form_for @intervention, url: request.path do |f| %>
    <%= f.semantic_errors %>
    <%= f.inputs class: 'fields' do %>
      <%= f.input :name %>
      <%= f.input :notes %>
    <% end %>
    <%= f.inputs class: 'relations' do %>
      <%= f.input :start, include_blank: true %>
      <%= f.input :stop, include_blank: true %>
    <% end %>
    <%= f.actions do %>
      <%= f.action :submit %>
    <% end %>
  <% end %>
</div>