.title
	%h2 Print
	%h1 Select Students
	= link_for :cancel, controller_model

.scroller

	= semantic_form_for 'student_select', url: export_path(type: 'print', id: params[:id]) do |f|
		- if @error
			%ul.errors
				%li= @error
		= f.inputs do
			= f.input :school_id, collection: School.with_permissions_to(:show)
			= f.input :file, as: :file, hint: 'line delimited student ids'
		= f.actions do
			= f.action :submit, label: 'Upload'