<div class="title">
  <h2><%= term_filter || 'All' %></h2>
  <h1>Test Scores</h1>
  <%= link_for :new, new_resource %>
  <%= link_for :import, TestScore %>
  <div class="view_options">
    <%= link_to 'Table Chart', js_link, class: 'table chosen' %>
    <%= link_to 'Pie Chart', js_link, class: 'pie' %>
    <%= link_to 'Line Chart', js_link, class: 'line' %>
  </div>
  <%= link_for :fullscreen, TestScore %>
</div>