<% arranged_values(student.test_scores).each_with_index do |test_values, index| %>
  <span <%= @cell_attributes[index] %>>
    <% if test_values.respond_to?(:each) %>
      <ul>
      <% test_values.each do |test_value| %>
        <li class="<%= test_value.level %>" title="<%= test_value.level.titleize %>">
          <%= test_value.name %>:
          <i><%= test_value.value %></i>
        </li>
      <% end %>
      </ul>
    <% elsif test_values.respond_to?(:value) %>
      <i class="<%= test_values.level %>" title="<%= test_values.level.titleize %>">
        <%= test_values.value %>
      </i>
    <% else %>
      <%= none %>
    <% end %>
  </span>
<% end %>