.scroller
	.compare
		%h2.select
			Compare 
			= select_tag 'x_axis', grouped_options_for_select(@x_axis_options, @x_axis_id)
			on the bottom and
			= select_tag 'y_axis', grouped_options_for_select(@y_axis_options, @y_axis_id)
			on the left.
		
		- if @x_axis_id && @y_axis_id
	
			.chart
			
				.y_axis
					- axis_labels(@y_axis_labels).each do |label, position, klass, first|
						%div{style: "bottom: #{position}%", class: klass}= label
						- unless first
							%hr{style: "bottom: #{position}%"}
			
				.x_axis
					- axis_labels(@x_axis_labels).each do |label, position, klass, first|
						%div{style: "left: #{position}%", class: klass}= label
						- unless first
							%hr{style: "left: #{position}%"}
			
				.data
					- calculate_positions(collection).each do |student, left, bottom|
						%ul{style: "bottom: #{bottom}%; left: #{left}%"}
							%li
								%span
									= student.name
									= "(#{@test_values[@x_axis_id][student.id].value}, #{@test_values[@y_axis_id][student.id].value})"
		- else
			
			.error
				There were either no students with matching test data or there were
				not two or more score sets to compare.