<div class="title">
  <h2>All</h2>
  <h1>Test Scores</h1>
  <%= link_for :new, new_resource %>
  <%= link_for :import, TestScore %>
  <div class="view_options">
    <%= link_to 'table', js_link, class: 'table chosen', title: 'Table' %>
    <%= link_to 'pie', js_link, class: 'pie', title: 'Pie Chart' %>
    <%= link_to 'compare', js_link, class: 'compare', title: 'Compare' %>
    <%= link_to 'line', js_link, class: 'line', title: 'Line Chart' %>
  </div>
  <%= link_for :fullscreen, TestScore %>
</div>
  
<div class="scroller">
  <div class="table">
    <div>
      <span class="spacer"></span>
      <span class="image"></span>
      <span>Student</span>
      <% arranged_attributes(@test_models).each_with_index do |test_attribute, index| %>
        <span title="<%= test_attribute.name %>" <%= @cell_attributes[index] %><%= group_name(test_attribute) %>>
          <%= test_attribute.name %>
        </span>
      <% end %>
      <span class="add" title="Add a test">
        <%= add_test_column_select %>
      </span>
      <span class="spacer"></span>
    </div>
    <% collection.each do |student| %>
      <a href="<%= "#{request.path}/#{student.id}" %>" data-id="<%= student.id %>">
        <span class="spacer"></span>
        <span class="image"><%= image_tag student.image(:thumbnail) %></span>
        <span><%= student.last_name %>,<br /><%= student.first_name %></span>
        <% arranged_values(student.test_scores).each_with_index do |test_values, index| %>
          <span <%= @cell_attributes[index] %>>
            <% if test_values.respond_to?(:each) %>
              <ul>
              <% test_values.each do |test_value| %>
                <li class="<%= test_value.level %>" title="<%= test_value.level.titleize %>">
                  <%= test_value.name %>:
                  <i><%= test_value.value %></i>
                </li>
              <% end %>
              </ul>
            <% elsif test_values.respond_to?(:value) %>
              <i class="<%= test_values.level %>" title="<%= test_values.level.titleize %>">
                <%= test_values.value %>
              </i>
            <% else %>
              <%= none %>
            <% end %>
          </span>
        <% end %>
        <span class="add"></span>
        <span class="spacer"></span>
      </a>
    <% end %>
  </div>
</div>