<div class="title">
  <%= link_for :back, controller_model %>
  <h1>Test Scores</h1>
  <%= select_tag 'subject', options_for_select(subject_options), class: 'subject_filter test_filter' %>
  <%= select_tag 'grade', options_for_select(grade_options), class: 'grade_filter test_filter' %>
  <%= select_tag 'teacher', options_for_select(teacher_options), class: 'teacher_filter test_filter' %>
  <%= link_for :fullscreen, controller_model %>
  <%= link_for :import, controller_model %>
  <%= link_for :search, controller_model %>
  <%= link_for :print, controller_model %>
</div>
  
<div class="scroller">
  <div class="table" data-limit="<%= offset_amount.to_i %>" data-offset="<%= params[:offset].to_i + offset_amount.to_i %>">
    <div>
      <span class="spacer"></span>
      <span class="image"></span>
      <span data-order-by="students.last_name" class="sortable">Student</span>
      <span data-order-by="users.last_name" class="sortable">Teacher</span>
      <% score_columns.each do |test_name, terms_and_keys| %>
        <% terms_and_keys.each do |term, keys| %>
          <% keys.each do |key| %>
            <span <%= data_column_attributes(test_name, term, key) %>>
              <i>
                <%= test_name.upcase %><br />
                <%= Term.shorten(term) %><br />
                <%= key.titleize %>
              </i>
            </span>
          <% end %>
        <% end %>
      <% end %>
      <span class="spacer"></span>
    </div>
    <% group_levels(collection).each do |level, students| %>
      <% if level %>
        <a class="<%= level %> level_breaker">
          <span class="spacer"></span>
          <span></span>
          <span></span>
          <span></span>
          <% score_columns.each do |test_name, terms_and_keys| %>
            <% terms_and_keys.each do |term, keys| %>
              <% keys.each do |key| %>
                <% if matches_current_order(test_name, term, key) %>
                  <span><%= level.titleize %></span>
                <% else %>
                  <span></span>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
          <span class="spacer"></span>
        </a>
      <% end %>
      <% students.each do |student| %>
        <a href="<%= "#{request.path}/#{student.id}" %>" data-id="<%= student.id %>">
          <span class="spacer"></span>
          <span class="image">
            <%= image_tag(student.image(:index)) if student.image? %>
          </span>
          <span class="stacked">
            <%= student.name %> -
            <%= pretty_grade(student.grade) %>
          </span>
          <span class="stacked">
            <%= student.teacher.try(:name) || none %>
          </span>
          <% associated_test_scores(student.test_scores) do |association| %>
            <% score_columns.each do |test_name, terms_and_keys| %>
              <% terms_and_keys.each do |term, keys| %>
                <% if score = association[[test_name, term]] %>
                  <% keys.each do |key| %>
                    <% if level = score.data[level_column_for(key)] %>
                      <span class="<%= level %> small">
                        <%= score.data[key].present? ? score.data[key] : none %><br />
                        <%= level.titleize %>
                      </span>
                    <% else %>
                      <span><%= score.data[key].present? ? score.data[key].titleize : none %></span>
                    <% end %>
                  <% end %>
                <% else %>
                  <% keys.each do |key| %>
                    <span><%= none %></span>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
          <span class="spacer"></span>
        </a>
      <% end %>
    <% end %>
  </div>
</div>