<div class="title">
  <h2><%= @student.name %></h2>
  <h1>Test Scores</h1>
  <%= link_for :fullscreen, @student %>
</div>

<div class="scroller">
  <% logger.debug group_tests(@student.test_scores) %>
  <% group_tests(@student.test_scores).each do |test_name, (keys, test_scores)| %>
    <h2><%= test_name %></h2>
    <div class="table">
      <div>
        <span class="spacer"></span>
        <span>Term</span>
        <% keys.each do |key| %>
          <span class="small"><%= key.titleize %></span>
        <% end %>
        <span class="spacer"></span>
      </div>
      <% test_scores.each do |score| %>
        <a>
          <span class="spacer"></span>
          <span><%= score.term %></span>
          <% keys.each do |key| %>
            <% if level = score.data["#{key}_lv"] %>
              <span class="<%= level.downcase %>">
                <%= score.data[key] %><br />
                <i><%= level %></i>
              </span>
            <% else %>
              <span><%= score.data[key] %></span>
            <% end %>
          <% end %>
          <span class="spacer"></span>
        </a>
      <% end %>
    </div>
  <% end %>
</div>