.title
	%h2 Student Test Scores
	%h1= @student.name
	= link_to 'New', "#{request.path}/new", class: 'new'
	= link_for :fullscreen, TestScore

.scroller
	.left_column
		= image_tag @student.image
		%table
			%tr
				%th Name
				%td= @student.name
			%tr
				%th Grade
				%td= @student.grade
			%tr
				%th School
				%td= link_to @student.school.name, @student.school
			%tr
				%th Teachers
				%td
					- @student.users.each do |user|
						= link_to user.name, user
			%tr
				%th Hispanic
				%td= @student.hispanic
			%tr
				%th English Learner
				%td= @student.english_learner
	
	.right_column
		- arranged_scores(@student.test_scores).each do |group, scores|
			%h2= group.name
			- scores.each do |score, values|
				%h3= "#{score.name} (#{score.term})"
				= link_to "#{request.path}/#{score.id}" do
					%table
						%tr
							- values.each do |value|
								%th= value.test_attribute.name
						%tr
							- values.each do |value|
								%td= value.value
							