= semantic_form_for resource_with_parents(resource) do |f|
	= f.semantic_errors
	= f.inputs class: 'fields' do
		- fields(:form, :fields).each do |field|
			= f.input *field
	= f.inputs class: 'relations' do
		- fields(:form, :relations).each do |field|
			= f.input *field
	= f.actions do
		= f.action :submit