%ul#navigation.scroller

	%li.group People and Groups

	- if permitted_to? :index, :users
		%li.users= link_to 'Users', users_path

	- if permitted_to? :index, :districts
		%li.districts= link_to 'Districts', districts_path
	
	- if permitted_to? :index, :schools
		%li.schools= link_to 'Schools', schools_path

	%li.periods= link_to 'Classes', periods_path

	%li.students= link_to 'Students', students_path

	%li.group Tools
	
	- if permitted_to? :index, :test_groups
		%li.test_groups= link_to 'Test Groups', test_groups_path
	
	- if permitted_to? :index, :test_models
		%li.test_models= link_to 'Test Models', test_models_path
	
	- if permitted_to? :index, :bus_routes
		%li.bus_routes= link_to 'Bus Routes', bus_routes_path
	
	- if permitted_to? :index, :bus_stops
		%li.bus_stops= link_to 'Bus Stops', bus_stops_path
	
	- if permitted_to? :index, :templates
		%li.templates= link_to 'Templates', templates_path

	- if permitted_to? :index, :fonts
		%li.fonts= link_to 'Fonts', fonts_path

	%li.account= link_to 'Account', current_user
	
	%li.help= link_to 'Help', help_path
	
	%li.logout= link_to 'Logout', logout_path