.title
	%h2 Print
	%h1= export_title
	= link_for :cancel, controller_model

.scroller

	- if params[:export_type]
		= semantic_form_for @export, url: export_path, html: { target: '_blank' } do |f|
			- if @export.errors.any?
				%p This export cannot be used:
				= f.semantic_errors
			
			- else
				
				- @export.student_ids.each do |id|
					= hidden_field_tag 'export[student_ids][]', id
					
				- if @export.pdf && @export.pdf.template.prompts.any?
					%p Please fill in the appropriate values for the following fields.
					= f.inputs do
						- @export.pdf.template.prompts.each do |field|
							= f.input :prompt_values, label: field.name,
								input_html: { name: "export[prompt_values][#{field.name}]" }

				= f.actions do
					= f.action :submit
				
	- else
		%h6 Templates
		- available_pdfs.each do |pdf|
			= link_to pdf.template.name, export_path(type: 'print', id: pdf.id)
		- if permitted_to?(:zpass, controller_model)
			%h6 Zpass
			= link_to 'Zpass', export_path(type: 'zpass')