.title
	%h2 Import
	%h1= plural_title
	= link_for :cancel, controller_model
	= link_for :upload, controller_model
	
.scroller
	= semantic_form_for @import, url: parent_path(controller_model, action: :import) do |f|
		= f.semantic_errors
		.errors
			- @import.row.errors.each do |attribute, error|
				%p.show_content
					%b= attribute.to_s.titleize
					= error
		= f.inputs do
			- if @import.update_ids.any?
				%li
					Records that were selected on the previous page but are not present
					in the import file will be marked as dropped.
				- @import.update_ids.each do |update_id|
					= hidden_field_tag 'import[update_ids][]', update_id
			= f.input :file, as: :file
		= f.actions do
			= f.action :submit, label: 'Upload'