.title
	%h2= term_filter || 'All'
	%h1= controller_name.titleize
	= link_for :new, new_resource
	= link_for :search, controller_model
	= link_for :import, controller_model
	= link_for :export, controller_model

.scroller
	.table
		%div
			%span.spacer
			%span.select
				= check_box_tag(nil, true)
			- fields(:index).each do |field|
				%span= header_content(field)
			%span.spacer
		- collection.each do |row|
			= render 'row', row: row