.title
	%h2 All
	%h1= controller_name.titleize
	= link_for :search, controller_model
	= link_for :new, new_resource
	= link_for :import, controller_model
	= link_for :print, controller_model

.scroller
	.table
		%div
			%span.spacer
			%span.select
				= check_box_tag(nil, true)
			- fields(:index).each do |field|
				%span= field.to_s.titleize
			%span.spacer
		- collection.each do |row|
			= render 'row', row: row